
body {
    font-family:'Times New Roman', Times, serif;
    background-color: #F2DFBB; 
    margin: 0;
    padding: 0;
}


header {
    font-family:'Times New Roman', Times, serif;
    background-color: #F2A341;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}
h1{
    color: #1C2621;
    
}



.titulo {
    text-align: center;
    color: #1C2621; 
    margin-top: 30px;
    font-size: 2.5rem;
}


#form {
    max-width: 30rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn{
    background-color:#D93E1B;
    border-color: #D93E1B;
}

.btn:hover{
    background-color: #FBE64C;
    border-color: #FBE64C;
}





    